fastapi
uvicorn[standard]
python-dotenv
mistralai
pydantic
elevenlabs
requests
aiohttp
aiofiles
pypdf
faiss-cpu
numpy
packaging
langchain
langchain-mistralai
langchain-community
langchain-core
tenacity
httpx
